.topic {
  display: flex;
  width: 40%;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: center;
  border-radius: 10px;
  color: #fff;
  background-color: #383838;
  margin-bottom: 1rem;
}

.vote,
.info,
.delete {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vote span {
  font-weight: bold;
  margin: 0.5rem 0;
  font-size: 1.3rem;
}

button {
  background-color: #6200ff;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  padding: 0.4rem 0.6rem;
  border-radius: 50%;
  cursor: pointer;
}
